@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

* {
    padding: 0;
    margin: 0;
}

.body {
    background: url("../bg.jpg");
    min-height: 100vh;
    background-size: 115vw 115vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreBox {
    position: absolute;
    top: 50px;
    right: 120px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#hiscoreBox {
    position: absolute;
    top: 100px;
    right: 100px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#foodDiv {
    position: absolute;
    top: 150px;
    right: 100px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#bonusFoodDiv {
    position: absolute;
    top: 200px;
    right: 100px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}

#board {
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 30px rgba(227,228,237,0.37);
    
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
}

.head {
    background: rgb(48, 188, 243);
    border: 2px solid white;
    transform: scale(1.02);
    border-radius: 14px;
}

.snake {
    background-color: rgb(49, 239, 65);
    border: .25vmin solid white;
    border-radius: 50%;
}

.food {
    background: rgb(226, 246, 44);
    border: .25vmin solid black;
    border-radius: 50%;
}

button {
    position: absolute;
    left: 20px;
    padding: 1rem;
    font-size: 20px;
}

.bonus {
    background: rgb(241, 16, 16);
    border: 2px solid black;
    border-radius: 50%;
    transform: scale(1.03);
    animation: scale-animation 2s infinite;
}

@keyframes scale-animation {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }
}