@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

* {
    padding: 0;
    margin: 0;
}

.body {
    background: url("../bg.jpg");
    min-height: 100vh;
    background-size: 115vw 115vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* gap: 5rem; */
    align-items: center;
}

#board {
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 30px rgba(227,228,237,0.37);
    width: 90vmin;
    height: 92vmin;
    border: 2px solid black;
    display: grid;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
    /* margin-top: -60px; */
}

.head {
    background: rgb(48, 188, 243);
    border: 2px solid white;
    transform: scale(1.02);
    border-radius: 14px;
}

.snake {
    background-color: rgb(49, 239, 65);
    border: .25vmin solid white;
    border-radius: 50%;
}

.food {
    background: rgb(226, 246, 44);
    border: .25vmin solid black;
    border-radius: 50%;
}

.bonus {
    background: rgb(241, 16, 16);
    border: 2px solid black;
    border-radius: 50%;
    transform: scale(1.03);
    animation: scale-animation 2s infinite;
}

@keyframes scale-animation {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }
}
.container{
    display: flex;
    justify-content: space-between;
    width: 90vmin;
}

.score{
    font-size: 3vmin;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}
.arrow{
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 30px rgba(227,228,237,0.37);
    padding: 1rem;
    color: white;
    width: 3rem;
    text-align: center;
}

.btns{
    display: none;
    visibility: hidden;
}
@media only screen and (max-width:760px) {
    .btns{
        display: block;
        visibility: visible;
    }
    .container{
        margin-bottom: 1rem;
    }
}